# Python
__pycache__/
*.py[cod]
*.pyd
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# OpenFAST generated output
*.out
*.outb
*.ech
*.sum

# Temporary files
*.tmp
*.log

# GA / validation temporary runs
temp/
tmp/

# Report stuff
report/*
!report/*.tex
!report/*.png
!report/*.jpg
!report/*.jpeg
!report/*.pdf
!report/*.bib

# OpenFAST executables - download separately
OpenFAST.exe
FAST.Farm.exe
TurbSim.exe